/*style*/

body {
    /*background-color: #EAE7DA;*/
    font-size: 12px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400; 
}

h1 {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    font-size: 5em;
    text-transform: uppercase;
    margin-bottom: 20px; 
}

h3 {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    font-size: 2.2em; 
}

p {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em; 
}

a {
    color: #000000; 
}

a:hover {
    text-decoration: none; 
}

.title {
    color: white; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b38d3e; 
}


/*map styling*/
.map {
    padding-top: 40px;
    padding-bottom: 50px; 
}

.intro-text {
    margin-bottom: 30px; 
}

.intro-text h6 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: left; 
}

.key {
    padding-top: 20px; 
}

.key small {
    font-size: 1em;
    padding-left: 10px; 
}

.key-line {
    padding-top: 5px;
    padding-bottom: 5px; 
}

.map-iframe {
    text-align: center; 
}

.map iframe {
    width: 90%;
    height: 450px;
    border: none; 
}

.map-popup {
    height: 115px;
    width: 325px; 
    overflow: hidden;
}

.map-popup-star {
    height: 90px;
    width: 250px;
    overflow: hidden; 
}

.map-popup img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 10px; 
    float:left; 
}

.map-popup h6 {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase; 
    margin: 0; 
}

.map-popup-star h6 {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase; 
    margin: 0; 
}

.map-popup p {
    display: block;
    margin: 0; 
}

.map-popup-star p {
    display: block;
    margin: 0; 
}

html, body, #map-canvas {
    height: 75%;
    margin: 0;
    padding: 0;
}

/*social*/
.social {
    padding-bottom: 100px; 
}

.social-apis {
    padding-top: 40px; 
}

.social-titles {
    color: #b38d3e;
    font-size: 1.5em;
    margin-bottom: 25px; 
}

.social-titles strong {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: black;
    font-size: 1.1em;
}

/*twitter*/
.twitter {
    padding-bottom: 60px;
}

.twitter iframe {
    width: 100%;
    height: 800px;
    border: none; 
}

.twitter-list {
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    border-top: 1px solid #eeeeee; 
}

.twitter-pic {
    vertical-align: top;
    float: left;
}

.twitter-pic img {
    height: 40px;
    width: 40px;
    border-radius: 5px; 
}

.twitter-text {
    float: left;
    font-size: 1.1em; 
}

.twitter-text a {
    color: #b38d3e; 
}

.twitter-name strong a {
    color: #000000; 
}

.twitter-user small {
    color: #8899A6;
    font-size: .9em; 
}

/*insta*/
#results {
    display: inline;
}

.instagram iframe {
    width: 360px;
    height: 800px;
    border: none; 
}

.instagram a {
    color: #1c5380; 
}

.instagram a:hover {
    color: #10324e; 
}

.insta-firstrow .insta-user {
    padding-left: 8px; 
}

.insta-profpic {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.insta-pic {
    padding-top: 8px;
    padding-bottom: 8px;
}

.insta-user {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    color: #1c5380;
    font-size: 1.2em;
}

.insta-iframe strong {
    color: #1c5380;
}

small {
    padding-left: 5px; 
}

.insta-comment {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 30px;
}

/*footer*/
footer {
    color: white;
    text-align: center; 
    background-color: #b38d3e;
    padding: 20px; 
}











